@import url('https://fonts.googleapis.com/css2?family=Alkalami&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
}
.container{
    width: 80%;
    height: 100vh;
    margin: 20px auto;
    position: relative;
    border: 1px solid black;
}
.container header{
    width: 100%;
    border-bottom: 1px solid black;
    height: auto;
}
.container header img{
    margin: 20px auto;
}
.container header h1{
    font-family: 'Alkalami', serif;
    font-size: 28px;
}
.container header h2 {
    font-family: 'Alkalami', serif;
    font-size: 24px;
}
.container header p {
    font-family: 'Alkalami', serif;
    font-size: 16px;
}
