@import url('https://fonts.googleapis.com/css2?family=Alkalami&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
}
.container{
    width: 80%;
    height: auto;
    margin: 20px auto;
    position: relative;
    border: 1px solid black;
}
.container header{
    width: 100%;
    border-bottom: 1px solid black;
    height: auto;
}
.container header img{
    margin: 20px auto;
}
.container header h1{
    font-family: 'Alkalami', serif;
    font-size: 28px;
}
.container header h2 {
    font-family: 'Alkalami', serif;
    font-size: 24px;
}
.container header p {
    font-family: 'Alkalami', serif;
    font-size: 16px;
}
main{
    width: 100%;
}
main .action1{
    font-family: 'Alkalami', serif;
}
main .action1 h1{
    font-size: 26px;
}
main .action1 h2 {
    font-size: 22px;
}
main .action2 {
    flex-wrap: wrap;
    padding: 0 4px;
}
main .action2 h1{
    font-size: 26px;
}
main .action2 .column{
    flex: 30%;
    max-width: 100%;
    padding: 0 4px;
    border: 1px solid black;
}
main .action2 .column img{
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    height: 150px;
}